/src/Otus.PublicSale.Auctions/Otus.PublicSale.Core/obj
/src/Otus.PublicSale.Auctions/Otus.PublicSale.Core/bin
/src/Otus.PublicSale.Auctions/Otus.PublicSale.DataAccess/obj
/src/Otus.PublicSale.Auctions/Otus.PublicSale.DataAccess/bin
/src/Otus.PublicSale.Auctions/Otus.PublicSale.Database/obj
/src/Otus.PublicSale.Auctions/Otus.PublicSale.Database/bin
/src/Otus.PublicSale.Auctions/Otus.PublicSale.WebApi/obj
/src/Otus.PublicSale.Auctions/Otus.PublicSale.WebApi/bin
/src/Otus.PublicSale.Auctions/Otus.PublicSale.UnitTests/obj
/src/Otus.PublicSale.Auctions/Otus.PublicSale.UnitTests/bin
/src/Otus.PublicSale.Auctions/Otus.PublicSale.IdentityServer/obj
/src/Otus.PublicSale.Auctions/Otus.PublicSale.IdentityServer/bin
/src/Otus.PublicSale.Gateway/obj
/src/Otus.PublicSale.Gateway/bin
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.Core/bin
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.Core/obj
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.DataAccess/obj
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.DataAccess/bin
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.UnitTests/obj
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.UnitTests/bin
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.WebApi/obj
/src/Otus.PublicSale.Users/Otus.PublicSale.Users.WebApi/bin
/.vs
/src/.vs
/src/Otus.PublicSale.Auctions/Otus.PublicSale.Services/bin
/src/Otus.PublicSale.Auctions/Otus.PublicSale.Services/obj
/src/Otus.PublicSale.NotificationService/Otus.PublicSale.NotificationService.Core/bin
/src/Otus.PublicSale.NotificationService/Otus.PublicSale.NotificationService.Core/obj
/src/Otus.PublicSale.NotificationService/Otus.PublicSale.NotificationService.DataAccess/bin
/src/Otus.PublicSale.NotificationService/Otus.PublicSale.NotificationService.DataAccess/obj
/src/Otus.PublicSale.NotificationService/Otus.PublicSale.NotificationService/obj
/src/Otus.PublicSale.NotificationService/Otus.PublicSale.NotificationService/bin
