<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Diagnostics" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>

<!--============= Hero Section Ends Here =============-->
<!--============= Account Section Starts Here =============-->
<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
            <div class="section-header">
                <h2 class="title">Access Denied</h2>
                <p>You do not have access to that resource.</p>
            </div>
        </div>
    </div>
</section>