@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<!--============= Hero Section Starts Here =============-->

<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Diagnostics" asp-action="Index">Home</a>
            </li>
            <li>
                <span>Logged Out</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>

<!--============= Hero Section Ends Here =============-->
<!--============= Account Section Starts Here =============-->
<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
            <div class="section-header">
                <h2 class="title">Logout</h2>
                <p>You are now logged out</p>                
            </div>
            <div class="row">
                @if (Model.PostLogoutRedirectUri != null)
                {
                    <div>
                        Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
                        <span>@Model.ClientName</span> application.
                    </div>
                }

                @if (Model.SignOutIframeUrl != null)
                {
                    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                }
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}