<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Login">Home</a>
            </li>
            <li>
                <span>Registration Success</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Account Section Starts Here =============-->
<section class="account-section padding-bottom">
    <div class="container">
        <div class="account-wrapper padding-top padding-bottom mt--100 mt-lg--440">            
            <div class="section-header">
                <h2 class="title">Registration Success</h2>
                <p>The user has been registered successfully.</p>
            </div>        
        </div>
    </div>
</section>